<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/index.css" rel="stylesheet" />
    <title>Project-tech23</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Macondo&family=Nunito:wght@200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <img src="img/metallica_header.png" alt="metallica_header" />
      </div>

      <ul>
        <li id="rock">Rock</li>
        <li id="drummer">Drummer</li>
        <li id="longstanding">Longstanding</li>
      </ul>

      <h2>The most influential band in rock history is looking for you!</h2>
      <p>
        Metallica, one of the most iconic heavy metal bands of all time, is on
        the lookout for a new drummer. Following the departure of Lars Ulrich,
        who had been with the band since its inception in 1981, Metallica is now
        holding auditions to find a talented musician to take his place.
      </p>
      <p>
        The band's search for a new drummer has generated excitement and
        anticipation among fans, as Metallica is known for their high-energy
        performances and hard-hitting sound. With open auditions underway, you
        now have the opportunity to be selected to join the legendary band and
        continue their legacy.
      </p>

      <h3>Do you have what it takes to play with the greats?</h3>
      <a href="./qForm">
        <button>SIGN UP</button>
      </a>
    </main>
  </body>
</html>
