<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/index.css" rel="stylesheet" />
    <title>question_formFP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Macondo&family=Nunito:wght@200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header></header>

    <h1>Please answer the following questions</h1>

    <div>
      <h2>Which instruments do you play?</h2>
      <label>Electric guitar</label>
      <input type="radio" name="options" />

      <label>Bass guitar</label>
      <input type="radio" name="options" />

      <label>Drums</label>
      <input type="radio" name="options" />

      <label>Keyboard</label>
      <input type="radio" name="options" />

      <label>Other </label>
      <input type="text" name="other" />
    </div>

    <div>
      <h2>Have you taken lessons?</h2>
      <label>Yes, for more than 3 years</label>
      <input type="radio" name="options" />

      <label>Yes, for more than 2 yearsr</label>
      <input type="radio" name="options" />

      <label>Yes, for over a year</label>
      <input type="radio" name="options" />

      <label>no, I am self taught</label>
      <input type="radio" name="options" />

      <label>Other </label>
      <input type="text" name="other" />
    </div>

    <div>
      <h2>Are you currently in a band?</h2>
      <label>Yes, I am in multiple bands</label>
      <input type="radio" name="options" />

      <label>Yes, I am currently in a band</label>
      <input type="radio" name="options" />

      <label>No, I am currently not in a band</label>
      <input type="radio" name="options" />

      <label>No, I have never been in a band</label>
      <input type="radio" name="options" />

      <label>Other </label>
      <input type="text" name="other" />
    </div>

    <div id="myForm">
      <h2>Have you played live before?</h2>
      <label>Yes, I have played live before</label>
      <input type="radio" name="options" />

      <label>Yes, but only once</label>
      <input type="radio" name="options" />

      <label>No, I have never played live before</label>
      <input type="radio" name="options" />

      <label>No, I have never been in a band</label>
      <input type="radio" name="options" />

      <label>Other </label>
      <input type="text" name="other" />
    </div>

    <button>NEXT</button>

    <script src="./index.js"></script>
  </body>
</html>
