<%- include('partials/head.ejs') %>
  <body>
    <main>
      <h2 id="done">Thank you for your application!</h2>
      <p>
        We will review your application and contact you as soon as possible.
      </p>
      <a href="./metallica">
        <button>Back</button>
      </a>
    </main>
  </body>
</html>
