<%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <h2 id="done">Thank you for your application!</h2>
      <p>
        We will review your application and contact you as soon as possible.
      </p>
      <a href="./metallica">
        <button>Back</button>
      </a>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
