<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <main>
    <h2>Thank you for your application!</h2>
    <p>We will review your application and contact you as soon as possible.</p>
    <form action="./metallica">
      <button>Back</button>
    </form>
  </main>
</body>
</html>