<%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <h2 id="uploadHeader">
        Please select the files that showcase your skill level and
        experience and upload these in the box below
      </h2>

      
      <h1>Upload images</h1>
      <div id="imagePreviewContainer">
      <img id="imagePreview" src="#" alt="Preview">
      </div>

     
      <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" onchange="previewImage(event)">
        <button type="submit">Upload</button>
      </form>

     

      <p id="notification"></p>

      <a href="./finish">
        <button id="confirm">Confirm answers and apply</button>
      </a>
      <div id="fileContentContainer"></div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>

