<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <main>
    <h2>Upload files</h2>
    <p>
      Please select up to three files that showcase your skill level and experience and upload them in the box below
    </p>
    <div id="imagePreviewContainer">
      <noscript>
        <p>Please enable JavaScript to preview an image</p>
      </noscript>
      <div id="imagePreviews"></div>
    </div>

    <fieldset>
      <legend>Fill in the info below</legend>
    <form id="uploadReq" method="post" action="/upload" enctype="multipart/form-data">
      <input  type="file" 
              name="image" 
              id="imageInput" 
              onchange="previewImages(event)" 
              multiple required >
      <a href="./thankU.ejs">
        <button type="submit">Confirm upload and apply</button>
      </a>
    </form>
  </fieldset> 
  </main>
  <%- include('partials/footer') %>
  </body>
</html>

