<%- include('partials/head.ejs') %>
  <body>
    
    <main>
      <h2 id="uploadHeader">
        Please select the files that showcase your skill level and
        experience and upload these in the box below
      </h2>

    <div id="container">
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="files" id="fileInput" multiple style="display: none;" />
          <label for="fileInput" id="uploadButton">Upload files here</label>
        </form>
      </div>

      <p id="notification"></p>

      <a href="./finish">
        <button id="confirm">Confirm answers and apply</button>
      </a>
      <div id="fileContentContainer"></div>
      
      

      

    </main>
       <script src="js/script.js"></script>
  </body>
</html>

