html, body {
    margin: 0;
    padding: 0;
    
  }
  

div{
    width: 100%;
    height: 100%;
}

div img{
    width: 100%;
    height: 100%;

    margin-bottom: 0;
    padding: 0;

}

h1{
    color: #BB91CC;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;  
    margin-left: 10px;
    margin-top: 10px;
}

ul{
    list-style: none;

    font-size: 12.5px;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;
    
    display: flex;
    padding: 0;
}

li{
    background-color: #BB91CC;
    color: white;
    margin: 0 10px;
    padding: 0.1em 2em;

    border-radius: 10px;
}

#drummer{
    background-color: #DE5B36;
}

#longstanding{
    background-color: #E2C476;
}

h2{
    color: #BB91CC;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;  
    margin-left: 10px;
    margin-top: 10px;
}

p{
    font-size: 15px;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif; 
    margin-left: 10px;
}

h3{
    font-size: 20px;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif; 
    
    margin-left: 10px;

}

button{
    background-color: #A93E68;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 70px;

    font-size: 1.5em;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;

    display: block;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
}

label{
    font-size: 1em;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;

    margin-left: 20px;
    display: flex;

}   


#myForm{
    margin-bottom: 200px;
}

input{
    margin: 10px 20px;
}

#uploadHeader{
    font-size: 1.2em;
    margin-top: 10%;
   
}

#container{

    height: 12em;
    width: 20em;

    border: 4px dashed #A93E68;

    margin: 20% 45px 0;
    
    display: flex;
    justify-content: center;


}

#uploadButton{
    background-color: white;
    color: grey;
    border: dashed grey;
    border-radius: 10px;
    padding: 5px 70px;

    font-size: 1.2em;
    font-family: 'Macondo', cursive;
    font-family: 'Nunito', sans-serif;

    display: block;
    margin: auto;
    margin-top: 4em;
    text-decoration: none;
}

#confirm{
    width: 70%;
    font-size: 1em;
    padding: 5px 20px;
    margin-top: 4em;
    
}

#done{
    display:flex;
    justify-content: center;
    margin-top: 50%;
}

a{
  text-decoration: none;
}

#inputForm {
    flex-direction: column;
    justify-content: space-between;
}

#inputForm li{
    margin: 0.5em;
    
}

#fileContentContainer{
    display: none;
}

